apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns-secrets
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: platform
  source:
    repoURL: https://github.com/idarius/devops-platform-k8s.git
    targetRevision: main
    path: cluster/rncp-aks/platform/external-dns-secrets
    kustomize: {}
  destination:
    server: https://kubernetes.default.svc
    namespace: external-dns
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
