apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: platform

  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus
    targetRevision: "15.8.5"
    helm:
      values: |
        # Namespace spécifique
        namespaceOverride: monitoring

        # Désactive le Pushgateway pour alléger
        pushgateway:
          enabled: false

        alertmanager:
          enabled: true

        # Exporteurs
        nodeExporter:
          enabled: true
        kubeStateMetrics:
          enabled: true

        server:
          persistentVolume:
            enabled: false

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
