apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: grafana
    targetRevision: "10.5.4" 

    helm:
      values: |
        # Namespace spécifique
        namespaceOverride: monitoring

        # Persistance (désactivée pour cluster 1 node)
        persistence:
          enabled: false

        # Admin credentials (par défaut)
        adminUser: admin
        adminPassword: admin

        # Service pour exposer UI
        service:
          type: LoadBalancer



  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
